/* SETTINGS
   ========================================================================== */
/* a. Typography
  ========================================================================== */
/* 01. Autocomplete
  ========================================================================== */
/* 02. Card
  ========================================================================== */
/* 03. Checkout
  ========================================================================== */
/* 04. Comparison
  ========================================================================== */
/* 05. Cookie Policy
  ========================================================================== */
/* 06. Drop Zone
========================================================================== */
/* 07. Facets
========================================================================== */
/* 08. Flyout
========================================================================== */
/* 09. Landingpage
========================================================================== */
/* 10. List
========================================================================== */
/* 10a. List Blog
========================================================================== */
/* 10b. List Events
========================================================================== */
/* 11. Megamenu
========================================================================== */
/* 12. Nav Meta
========================================================================== */
/* 13. Page Footer
========================================================================== */
/* 14. Page Header
========================================================================== */
/* 15. Pagination
========================================================================== */
/* 16. Print
========================================================================== */
/* 17. Scroll
========================================================================== */
/* 18. Search
========================================================================== */
/* 19. Social Share
========================================================================== */
/* 20. Spinner
========================================================================== */
/* 21. Tag Cloud
========================================================================== */
/* 22. Tagged Content
========================================================================== */
/* 23. Text Buttons
========================================================================== */
/* 24. Toggler
========================================================================== */
/* 25. User Menu
========================================================================== */
/* 26. Variants
========================================================================== */
/* 27. Account
========================================================================== */
/* 28. Quickorder
========================================================================== */
/* 29. Basket
========================================================================== */
/* 30. Stored Basket
========================================================================== */
/* ============================================================================
   Foundation extends
   Extending standard Foundation components
============================================================================ */
/* F01. Accordion
========================================================================== */
/* F02. Alert Boxes
========================================================================== */
/* F03. Buttons
========================================================================== */
/* F04. Data Tables
========================================================================== */
/* F05. Date Picker
========================================================================== */
/* F06. Dropdown
========================================================================== */
/* F07. Forms
========================================================================== */
/* F08. Grid
========================================================================== */
/* F09. Icon Bar
========================================================================== */
/* F10. Inline Lists
========================================================================== */
/* F11. Label
========================================================================== */
/* F12. Offcanvas
========================================================================== */
/* F13. Panels
========================================================================== */
/* F14. Reveal
========================================================================== */
/* F15. Side Nav
========================================================================== */
/* F16. Tabs
========================================================================== */
/* F17. Progress bars
========================================================================== */
/* ============================================================================
   Third Party Extends
   Extending Other Vendors
============================================================================ */
/* V01. Slick Slider
========================================================================== */
/* V02. Font Awesome
========================================================================== */
/* V02. Toastr
========================================================================== */
.scope-foundation {
  width: 100%;
  overflow: auto; }
  .scope-foundation meta.foundation-version {
    font-family: "/5.5.3/"; }
  .scope-foundation meta.foundation-mq-small {
    font-family: "/only print, screen/";
    width: 0; }
  .scope-foundation meta.foundation-mq-small-only {
    font-family: "/only print, screen and (max-width: 30em)/";
    width: 0; }
  .scope-foundation meta.foundation-mq-medium {
    font-family: "/only print, screen and (min-width:30.0625em)/";
    width: 30.0625em; }
  .scope-foundation meta.foundation-mq-medium-only {
    font-family: "/only print, screen and (min-width:30.0625em) and (max-width:53.125em)/";
    width: 30.0625em; }
  .scope-foundation meta.foundation-mq-large {
    font-family: "/only print, screen and (min-width:53.1875em)/";
    width: 53.1875em; }
  .scope-foundation meta.foundation-mq-large-only {
    font-family: "/only print, screen and (min-width:53.1875em) and (max-width:75em)/";
    width: 53.1875em; }
  .scope-foundation meta.foundation-mq-xlarge {
    font-family: "/only print, screen and (min-width:75.0625em)/";
    width: 75.0625em; }
  .scope-foundation meta.foundation-mq-xlarge-only {
    font-family: "/only print, screen and (min-width:75.0625em) and (max-width:87.5em)/";
    width: 75.0625em; }
  .scope-foundation meta.foundation-mq-xxlarge {
    font-family: "/only print, screen and (min-width:87.5625em)/";
    width: 87.5625em; }
  .scope-foundation meta.foundation-data-attribute-namespace {
    font-family: false; }
  .scope-foundation html, .scope-foundation body {
    height: 100%; }
  .scope-foundation *,
  .scope-foundation *:before,
  .scope-foundation *:after {
    box-sizing: border-box; }
  .scope-foundation html,
  .scope-foundation body {
    font-size: 100%; }
  .scope-foundation body {
    background: #fff;
    color: #222;
    cursor: auto;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative; }
  .scope-foundation a:hover {
    cursor: pointer; }
  .scope-foundation img {
    max-width: 100%;
    height: auto; }
  .scope-foundation img {
    -ms-interpolation-mode: bicubic; }
  .scope-foundation #map_canvas img,
  .scope-foundation #map_canvas embed,
  .scope-foundation #map_canvas object,
  .scope-foundation .map_canvas img,
  .scope-foundation .map_canvas embed,
  .scope-foundation .map_canvas object,
  .scope-foundation .mqa-display img,
  .scope-foundation .mqa-display embed,
  .scope-foundation .mqa-display object {
    max-width: none !important; }
  .scope-foundation .left {
    float: left !important; }
  .scope-foundation .right {
    float: right !important; }
  .scope-foundation .clearfix:before, .scope-foundation .clearfix:after {
    content: " ";
    display: table; }
  .scope-foundation .clearfix:after {
    clear: both; }
  .scope-foundation .hide {
    display: none; }
  .scope-foundation .invisible {
    visibility: hidden; }
  .scope-foundation .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .scope-foundation img {
    display: inline-block;
    vertical-align: middle; }
  .scope-foundation textarea {
    height: auto;
    min-height: 50px; }
  .scope-foundation select {
    width: 100%; }
  .scope-foundation table {
    background: #FFFFFF;
    border: solid 1px #DDDDDD;
    margin-bottom: 1.25rem;
    table-layout: auto; }
    .scope-foundation table caption {
      background: transparent;
      color: #222222;
      font-size: 1rem;
      font-weight: bold; }
    .scope-foundation table thead {
      background: #F5F5F5; }
      .scope-foundation table thead tr th,
      .scope-foundation table thead tr td {
        color: #222222;
        font-size: 0.875rem;
        font-weight: bold;
        padding: 0.5rem 0.625rem 0.625rem; }
    .scope-foundation table tfoot {
      background: #F5F5F5; }
      .scope-foundation table tfoot tr th,
      .scope-foundation table tfoot tr td {
        color: #222222;
        font-size: 0.875rem;
        font-weight: bold;
        padding: 0.5rem 0.625rem 0.625rem; }
    .scope-foundation table tr th,
    .scope-foundation table tr td {
      color: #222222;
      font-size: 0.875rem;
      padding: 0.5625rem 0.625rem;
      text-align: left; }
    .scope-foundation table tr.even, .scope-foundation table tr.alt, .scope-foundation table tr:nth-of-type(even) {
      background: #F9F9F9; }
    .scope-foundation table thead tr th,
    .scope-foundation table tfoot tr th,
    .scope-foundation table tfoot tr td,
    .scope-foundation table tbody tr th,
    .scope-foundation table tbody tr td,
    .scope-foundation table tr td {
      display: table-cell;
      line-height: 1.125rem; }
  .scope-foundation .alert-box {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.875rem;
    font-weight: normal;
    margin-bottom: 1.25rem;
    padding: 0.875rem 1.5rem 0.875rem 0.875rem;
    position: relative;
    transition: opacity 300ms ease-out;
    background-color: #333;
    border-color: #2c2c2c;
    color: #FFFFFF; }
    .scope-foundation .alert-box .close {
      right: 0.25rem;
      background: inherit;
      color: #333333;
      font-size: 1.375rem;
      line-height: .9;
      margin-top: -0.6875rem;
      opacity: 0.3;
      padding: 0 6px 4px;
      position: absolute;
      top: 50%; }
      .scope-foundation .alert-box .close:hover, .scope-foundation .alert-box .close:focus {
        opacity: 0.5; }
    .scope-foundation .alert-box.radius {
      border-radius: 3px; }
    .scope-foundation .alert-box.round {
      border-radius: 1000px; }
    .scope-foundation .alert-box.success {
      background-color: #6ed35f;
      border-color: #50ca3d;
      color: #FFFFFF; }
    .scope-foundation .alert-box.alert {
      background-color: #f22613;
      border-color: #d51d0c;
      color: #FFFFFF; }
    .scope-foundation .alert-box.secondary {
      background-color: #CCCCCC;
      border-color: #afafaf;
      color: #454545; }
    .scope-foundation .alert-box.warning {
      background-color: #f89406;
      border-color: #d57f05;
      color: #FFFFFF; }
    .scope-foundation .alert-box.info {
      background-color: #89c4f4;
      border-color: #58acef;
      color: #454545; }
    .scope-foundation .alert-box.alert-close {
      opacity: 0; }
  .scope-foundation *,
  .scope-foundation *:after,
  .scope-foundation *:before {
    box-sizing: border-box; }
  .scope-foundation thead tr {
    background-color: transparent; }
  .scope-foundation td {
    vertical-align: top; }
  .scope-foundation ul {
    list-style-type: none;
    margin: 0; }
