// Font size
.u-text-tiny { font-size: 50% !important; }
.u-text-smaller { font-size: 80% !important; }
.u-text-small { font-size: 90% !important; }
.u-text-big { font-size: 125% !important; }
.u-text-bigger { font-size: 150% !important; }
.u-text-huge { font-size: 200% !important; }

// Text decoration
.u-text-no-transform { text-transform: none !important; }
.u-text-uppercase { text-transform: uppercase !important; }
.u-text-lowercase { text-transform: lowercase !important; }

// Line height reset
.u-line-height-normal { line-height: normal !important; }
