.fb-config-option {
    display: flex;
    align-items: center;

    padding: calculateRem(10px);
    border-radius: calculateRem(4px);
    background: $ibexa-color-base-light;

    &__drag-handler {
        display: flex;
        align-items: center;
        flex: 0 0 calculateRem(32px);
        margin: 0 calculateRem(10px);
        cursor: move;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        cursor: grab;

        .ez-icon {
            fill: $ibexa-color-primary;
        }
    }

    &__input-wrapper {
        flex: 1 1 auto;
    }

    &__actions {
        display: flex;
        flex: 0 0 calculateRem(128px);
        padding-right: calculateRem(10px);
    }

    &__action {
        border: 0;
        border-radius: 50%;
        background: $ibexa-color-primary;
        height: calculateRem(44px);
        width: calculateRem(44px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-left: calculateRem(20px);
        transition: 0.3s opacity $ibexa-admin-transition;

        &[disabled] {
            opacity: 0.25;
        }

        &:not([disabled]) {
            &:hover,
            &:focus {
                cursor: pointer;
                outline: none;
            }

            &:hover {
                opacity: 0.75;
            }
        }

        .ez-icon {
            fill: $ibexa-white;
            height: calculateRem(24px);
            width: calculateRem(24px);
        }

        &--active {
            opacity: 1;
        }
    }

    .form-group {
        margin-bottom: 0;
    }
}
