$ibexa-white: #fff;
$ibexa-black: #131c26;

$ibexa-color-primary: #db0032;
$ibexa-color-base-light: #f7f7f9;
$ibexa-color-base-dark: #878b90;
$ibexa-color-base-deep-dark: #131c26;

$ibexa-color-danger: #d92d42;
