.ez-version-compare {
    .ezimage-comparison {
        display: flex;

        &__version-wrapper {
            flex: 1;
        }

        .ez-field-preview {
            &--ezimage {
                display: block;
            }

            &__image {
                display: inline-block;
                margin-bottom: calculateRem(10px);

                &.ez-compared-part {
                    &--added {
                        border: calculateRem(8px) solid $ibexa-color-version-compare-added;
                    }

                    &--removed {
                        @include image-removed();
                        border: calculateRem(8px) solid transparent;
                    }
                }
            }
        }
    }

    .ezmedia-comparison {
        display: flex;

        &__version-wrapper {
            flex: 1;
        }

        .ez-field-preview {
            &__media-meta {
                overflow: initial;
            }

            &--ezmedia {
                display: block;
            }

            &__media {
                display: inline-block;
                margin-bottom: calculateRem(10px);

                &.ez-compared-part {
                    &--added {
                        border: calculateRem(8px) solid $ibexa-color-version-compare-added;
                    }

                    &--removed {
                        @include image-removed();
                        border: calculateRem(8px) solid transparent;

                        video {
                            filter: opacity(0.3);
                            position: relative;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }

    del:not(.ezimage-field),
    del:not(.embed-container) {
        color: $ibexa-color-version-compare-removed;
        text-decoration: line-through;
    }

    ins:not(.ezimage-field),
    ins:not(.embed-container) {
        background-color: $ibexa-color-version-compare-added;
        text-decoration: none;
    }

    .ezimage-field,
    .embed-container {
        del,
        ins {
            display: inline-block;
        }

        del + ins {
            margin-left: calculateRem(20px);
        }

        del {
            @include image-removed();
            border: calculateRem(8px) solid transparent;
        }

        ins {
            border: calculateRem(8px) solid $ibexa-color-version-compare-added;
        }
    }
}
