@mixin image-removed() {
    background-color: rgba($ibexa-color-version-compare-removed, 0.2);
    position: relative;

    img {
        filter: opacity(0.3);
        position: relative;
        z-index: 1;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: 2;
        width: calculateRem(6px);
        height: calculateRem(85px);
        border-radius: $ibexa-border-radius;
        background-color: $ibexa-color-version-compare-removed;
    }

    &:before {
        transform: rotate(45deg);
        transform-origin: top;
        left: calc(50% + #{calculateRem(26px)});
        top: calc(50% - #{calculateRem(29px)});
    }

    &:after {
        transform: rotate(315deg);
        transform-origin: bottom;
        left: calc(50% + #{calculateRem(26px)});
        top: calc(50% - #{calculateRem(54px)});
    }
}
