@import 'fields/parts/option';
@import 'fields/parts/selected.item';
@import 'fields/base';
@import 'fields/boolean';
@import 'fields/options';
@import 'fields/action';
@import 'fields/field.name';

.ez-field-config--default {
    .fb-config-field--field-name {
        height: calculateRem(53px);
        overflow: hidden;
    }

    .fb-field-config {
        height: calc(100% - #{calculateRem(53px)} - 1rem);
    }
}
