@import './public/bundles/ezplatformadminui/scss/mixins.scss';

@mixin info-bar-button() {
    width: calculateRem(32px);
    height: calculateRem(32px);
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: calculateRem(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;

    .ez-icon {
        fill: $ibexa-color-ground-dark;
    }

    &:hover,
    &:focus {
        background: $ibexa-color-ground-dark;
        outline: none;

        .ez-icon {
            fill: $ibexa-white;
        }
    }

    &--selected {
        background: $ibexa-color-ground-dark;

        .ez-icon {
            fill: $ibexa-white;
        }
    }
}
