@import './public/bundles/ezplatformadminui/scss/custom.scss';

.droppable-placeholder {
    width: 100%;
    flex: 0 0 100%;
    min-height: 64px;
    height: 100%;
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s $ibexa-admin-transition, background 0.3s $ibexa-admin-transition;
    font-family: $font-family-sans-serif;
    outline: 1px solid $ibexa-white;
    outline-offset: -8px;
    padding: 0;

    & > * {
        display: none;
    }

    & + [data-ez-block-id] {
        margin-top: 12px;
    }

    &--dragover {
        background: rgba($ibexa-color-base-dark, 0.25);
    }

    &:before {
        color: $ibexa-color-base-dark;
        font-style: italic;
        font-size: 20px;
        line-height: 1;
        content: attr(data-drop-here-message);
        flex: 1;
    }

    &.droppable-placeholder--removing {
        opacity: 0;
        background: rgba($ibexa-color-danger, 0.75);

        &:before {
            color: $ibexa-white;
        }
    }
}

[data-ez-zone-id] {
    min-height: 250px;
    outline: 1px solid $ibexa-white;

    &.m-page-builder__zone {
        &:after {
            content: attr(data-call-to-action-text);
            display: block;
            margin-bottom: 12px;
            font-style: italic;
            font-size: 20px;
            text-align: center;
            padding: 22px 0;
            font-family: $font-family-sans-serif;
            line-height: 1;
            color: $ibexa-color-base-dark;
            flex: 1;
        }

        &--dragover {
            &:after {
                display: none;
            }

            .droppable-placeholder {
                display: flex;
            }
        }
    }
}

[data-ez-block-id] {
    margin-bottom: 12px;

    &:focus {
        outline: none;
    }

    .c-block-preview {
        min-height: 16px;
        overflow: auto;

        &:focus {
            outline: none;
        }

        &--empty {
            font-style: italic;
            font-size: 20px;
            text-align: center;
            padding: 16px 0;
            color: $ibexa-color-base-dark;
            background: rgba($ibexa-color-base-dark, 0.15);
        }

        &--invalid {
            background: rgba($ibexa-color-danger, 0.5);
        }
    }

    &:hover .c-block-preview,
    .c-block-preview--action-menu-visible {
        * {
            user-select: none;
            pointer-events: none;
        }
    }

    .c-action-menu {
        all: initial;
        box-sizing: border-box;
        display: none;
        background: $ibexa-color-ground-dark;
        color: $ibexa-white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99999;
        width: 500px;
        min-width: 150px;
        max-width: 100%;
        align-items: center;
        font-family: $font-family-sans-serif;
        height: 38px;
        line-height: 38px;

        .ez-icon {
            width: 20px;
            height: 20px;
            fill: $ibexa-white;
        }

        .c-action-menu {
            &__handler {
                flex: 0 0 38px;
                height: 100%;
                cursor: not-allowed;
                display: flex;
                justify-content: center;
                align-items: center;

                .ez-icon {
                    fill: $ibexa-color-base-dark;
                }

                &--is-editable {
                    cursor: move;
                    cursor: -webkit-grab;
                    .ez-icon {
                        fill: $ibexa-white;
                    }
                }
            }

            &__name {
                flex: 1 1 auto;
                padding-left: 16px;
                font-size: 15px;
                font-weight: 700;
                line-height: 1;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &__actions {
                display: flex;
                align-items: center;
            }
        }

        .c-preview-block__action {
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            border: none;
            cursor: not-allowed;
            height: 38px;
            width: 38px;
            padding: 0;
            transition: background 0.1s $ibexa-admin-transition;

            .ez-icon {
                fill: $ibexa-color-base-dark;
            }

            &--is-editable {
                cursor: pointer;

                .ez-icon {
                    fill: $ibexa-white;
                }
            }

            &--is-editable:hover,
            &--is-editable:focus {
                background: darken($ibexa-color-ground-dark, 10%);
            }
        }

        .c-preview-block__action:not(:last-child),
        &__handler {
            position: relative;

            &:after {
                content: '';
                height: 30px;
                display: block;
                width: 1px;
                background: $ibexa-white;
                position: absolute;
                right: 0;
                top: 4px;
            }
        }
    }

    &:hover .c-action-menu,
    &:not(:hover) .c-action-menu.c-action-menu--keep-visible {
        display: flex;
    }

    &.c-preview-block--action-menu-to-right {
        &:hover {
            .c-action-menu {
                left: auto;
                right: 0;
            }
        }

        .c-action-menu.c-action-menu--keep-visible {
            left: auto;
            right: 0;
        }
    }
}
