@import './public/bundles/ezplatformadminui/scss/custom.scss';
@import './public/bundles/ezplatformadminui/scss/functions/calculate.rem.scss';

.ez-segmentation {
    &__items {
        list-style: none;
        padding: calculateRem(8px) calculateRem(8px) calculateRem(1px);
        margin-top: calculateRem(16px);
        background-color: $ibexa-color-base-pale;
    }

    &__item {
        display: flex;
        border-radius: calculateRem(4px);
        background-color: $ibexa-white;
        padding: calculateRem(8px);
        align-items: center;
        margin-bottom: calculateRem(8px);
        cursor: move;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        cursor: grab;

        &--placeholder {
            display: block;
            height: calculateRem(40px);
            background-color: $ibexa-color-base-pale;
            pointer-events: none;
        }

        &--no-configuration {
            cursor: default;
        }

        &:not(:last-child) {
            .ez-btn--add {
                display: none;
            }
        }
    }

    &__select-wrapper {
        width: calculateRem(300px);
        display: flex;
    }

    &__select {
        width: 50%;

        &--segment {
            margin-left: calculateRem(16px);
        }
    }

    &__content-wrapper {
        margin-left: calculateRem(16px);
    }

    &__item-actions {
        margin-left: calculateRem(16px);
    }

    &__content-info {
        display: flex;
        background-color: $ibexa-color-base-pale;
        padding: calculateRem(4px);
        border-radius: $ibexa-border-radius;
        font-size: calculateRem(12px);

        &--hidden {
            display: none;
        }

        .ez-icon {
            width: calculateRem(16px);
            height: calculateRem(16px);
        }
    }

    &__content-title,
    &__content-breadcrumbs {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: calculateRem(180px);
    }

    &__content-breadcrumbs {
        color: $ibexa-color-font-pale;
    }
}
