.c-form-field {
    position: relative;
    display: grid;
    grid-template-areas: 'drag-handler label settings trash';
    grid-template-columns: calculateRem(20px) auto calculateRem(36px) calculateRem(36px);
    grid-column-gap: calculateRem(16px);
    background: $ibexa-white;
    color: $ibexa-black;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    padding: 0 calculateRem(16px);
    transition: background 0.3s $ibexa-admin-transition, border-color 0.3s $ibexa-admin-transition;
    min-height: calculateRem(56px);
    border-radius: calculateRem(4px);

    &__drag-handler {
        grid-area: drag-handler;
        display: flex;
        align-items: center;
    }

    &__label {
        grid-area: label;
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: calculateRem(14px);
    }

    &__setting,
    &__trash {
        display: flex;
        align-items: center;
    }

    &__setting {
        grid-area: settings;
    }

    &__trash {
        grid-area: trash;
    }

    &__error {
        display: flex;
        color: $ibexa-color-warning-dark;
        font-size: calculateRem(12px);
        position: absolute;
        bottom: calculateRem(-25px);
        left: calculateRem(5px);

        &:before {
            content: '!';
            font-size: calculateRem(12px);
            display: flex;
            width: calculateRem(14px);
            height: calculateRem(14px);
            color: $ibexa-white;
            background: $ibexa-color-danger;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            margin-right: calculateRem(5px);
        }
    }

    &--invalid {
        border-left: calculateRem(4px) solid $ibexa-color-danger;
        border-radius: 0 $ibexa-border-radius $ibexa-border-radius 0;
    }

    &--dragging {
        display: none;
    }

    .c-action {
        border: 0 none;
        background: none;
        transition: background 0.3s $ibexa-admin-transition;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;

        .ez-icon {
            width: calculateRem(24px);
            height: calculateRem(24px);
        }
    }
}
