.ez-site-factory-form-design {
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: calculateRem(3px);
        height: calculateRem(136px);
        width: calculateRem(200px);
        background: $ibexa-white;
        padding: calculateRem(8px);
        border: calculateRem(2px) solid transparent;
        transition: 0.3s border-color $ibexa-admin-transition;
        margin: calculateRem(10px) calculateRem(5px);
        cursor: pointer;

        &--selected {
            border-color: $ibexa-color-primary;
            position: relative;

            &:before {
                content: attr(data-selected-label);
                display: inline-block;
                position: absolute;
                top: 0;
                left: calculateRem(-2px);
                transform: translateY(-100%);
                padding: calculateRem(2px) calculateRem(6px);
                font-size: calculateRem(10px);
                font-weight: 700;
                background: $ibexa-color-primary;
                color: $ibexa-white;
                border-radius: calculateRem(3px) calculateRem(3px) 0 0;
            }
        }

        &-image {
            max-width: calculateRem(176px);
            max-height: calculateRem(88px);
            display: block;
            margin: auto;
        }

        &-desc {
            margin-top: calculateRem(10px);
            margin-bottom: 0;
            font-size: calculateRem(12px);
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__layouts {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        overflow: auto;
        padding: calculateRem(32px) calculateRem(24px);
        border: calculateRem(1px) solid $ibexa-color-base-dark;
    }
}
