.ez-multiline-label {
    display: flex;
    flex-direction: column;

    &__line {
        display: flex;
        align-items: center;
        
        .form-control {
            margin-bottom: 0;
        }
   }
}
