.ezcommerce-existing-delivery-address {
    width: 50%;
    padding-bottom: 16px;
    display: none;

    &--visible {
        display: block;
    }

    &__list {
        max-height: 300px;
        overflow-y: auto;

        ul {
            margin-bottom: 8px;
        }
    }
}
